*,html,body
{
    margin: 0;
    padding: 0;
}

@font-face 
{
    src: url(../Fonts/Prototype.ttf);
    font-family: prototype;
}
@font-face
{
    src: url(//Fonts/latin_runes_v20.ttf);
    font-family: latin;
}

body
{
    height: 3000px;
}
header
{
    height:112px;
    line-height: 112px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.container .row nav ul
{
    margin-left: 0px;
}

.secondary
{
    /*background-or: rgb(36, 42, 44);*/
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)),url(../Image/db3oqyr-881f27f2-971a-4fc3-a1a5-cbe1fbcf1da0.gif);
    opacity: 0.85;
    width: 100%;
    box-shadow: 0px 0px 17px 0px;
}

ul
{
    list-style: none;
}

ul li
{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    font-family: prototype;
}

header nav
{
    float: right;
}

.Logo img
{
    margin-top: -20px;
}

header nav ul li a
{
    padding-right: 30px;
    font-weight: bold;
    color:white;
    transition: all 0.5s ease-in;
}

header nav ul li a:hover
{
    text-decoration: none;
    color:rgb(0, 140, 255);
}

.background
{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../Image/blood.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    padding: 300px 0px;
}

.background a.btn-half
{
    background-color:rgb(4, 75, 207);
    color: white;
    transition: 0.5s ease-in;
    margin-top: 15px;
    font-family: prototype;
}

.background a.btn-half:hover
{
    background-color: rgb(1, 0, 68);
    text-decoration: none;
}

.title h2
{
    font-family: prototype;
    color: white;
    font-size: 70px;
    margin-top: -60px;

}
.title span
{
    font-family: prototype;
    color: rgb(0, 108, 231);


}
.title p
{
    color: white;
    font-size: 20px;
    font-family: prototype;
}

.background a.btn-half
{
    width: 200px;
    height: 50px;
}

.background a
{
    margin-top: 10px;
    font-size: 24px;
    font-family: prototype;
}

.intro-area
{
    position: relative;
    padding: 100px 0px;
    text-align: center;
    

}
.intro-area h2
{
    margin-top: -30px;
    font-family: prototype;
    font-size: 45px;
}

.sub-head
{
    position: relative;
    margin-bottom: 75px;
}

.sub-head:before
{
    content:"" ;
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 2px;
    background-color: rgb(0, 70, 199);
    
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.sub-head:hover:before
{
    width:24%;
    margin-left: -12%;
}
.sub-head:after
{
    content:"" ;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: rgb(236, 234, 234);
}

.sub-head p
{
    color: #818181;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}
 
.intro-block
{
    position: relative;
    background-color: #f7f7f7;
    text-align: center;
    padding: 80px 30px 40px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0px 0px 0px 0px rgb(0, 140, 255);
}

.intro-block:hover, .intro-block.active
{
    background:#00215f;
}

.intro-block:hover
{
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
}

.intro-block .intro-icon
{
    position: absolute;
    top:-31px;
    left: 50%;
    margin-left: -31px;
}

.intro-block .custom-icon
{
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: white;
    line-height: 2;
    background: #00155c;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 10px #0084ff;
}

.intro-block:hover .custom-icon, .intro-block.active .custom-icon
{
    background-color: #0060fa;
    color:#080146;
    box-shadow: 0px 0px 0px 10px #023688;
}

.intro-block h3
{
    font-size:25px;
    color: rgb(0, 26, 99);
    font-weight: 700;
    font-family: prototype;
    margin-bottom: 15px;
    margin-top: -10px;
}

.intro-block:hover h3 , .intro-block:hover p
{
    font-size:15px;
    color:white;
    
}
.intro-block:hover h3
{
    font-size: 24px;
}

.intro-block p
{
    text-align: justify;
    color: rgb(104, 104, 104);
}

.tit:hover
{
    color: darkblue;
    transition: .8s ease;
}

.fullscreen-video
{
    position: relative;
    top: 0;
    content: "";
    left: 0;
    

}

.fullscreen-video
{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
}

.fullscreen-video video
{
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-attachment: fixed;

}

.fullscreen-video .content
{
    position: absolute;
    z-index: 1;
    max-width: 1000px;
    margin-top: 400px;
    margin-left: -550px;
    
 
}

.fullscreen-video .content p
{
    font-size: 18px;
}


.fullscreen-video .content h1
{
    color: white;
    font-family: prototype;
    font-size: 60px;
    margin-top: -350px;
}

.fullscreen-video .content:hover h1
{
    color: rgb(64, 64, 252);
    transition: .5s ease;
}

.fullscreen-video a.btn-half
{
    text-decoration: none;
    background-color: cornflowerblue;
    font-family: prototype;
    color: white;
    size: 70px 200px;
    align-items: center;
}

.fullscreen-video .content a.btn-half:hover
{
    background-color: blue;
    transition: 0.6s ease-in;
}

.fullscreen-video p
{
    text-align: left;
    color: white;
}

.fullscreen-video .gameplay
{
    width: 5%;
    height: -10%;
    margin-left: -1000px;
    margin-top: 0px;
    position: absolute;
}

.discord-logo-png-transparent
{
    margin-right: 10px;
}

.test .title 
{
    margin-top: 30px;
    font-family: prototype;
    font-size: 50px;
}

.test p
{
    font-size: 20px;
}